* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
height: 100%;
}

body { 
    min-height: 100%;
    line-height: 1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--dark);
    color: var(--light);
}

h1 {
  font-size: 200%;
}

footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: var(--dark);
    color: var(--light);
  }
  
  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
      text-align: left;
      margin-top: 20px;
      color: blue;
    }
  
    main {
      max-width: 1200px;
    }
  }

  .link >li {
    display: inline-block;
    padding-left: 20px;
  }

  .left-border {
    border-left: solid 10px; color: blue;

  }

  .banner {
    width: 100%;
    height: 140px;
    opacity: 0.4;
  }

  .banner:hover {
    opacity: 0.8;
  }

  .banner-text {
    position: absolute;
    top: 20px;
    /* color: white; */
    padding: 20px;
    background-color: beige;
  }

  