* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
height: 100%;
}

body { 
    min-height: 100%;
    line-height: 1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--dark);
    color: var(--light);
}

h1 {
  font-size: 200%;
}

footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: var(--dark);
    color: var(--light);
  }
  
  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
      text-align: left;
      margin-top: 20px;
      color: blue;
    }
  
    main {
      max-width: 1200px;
    }
  }

  .link >li {
    display: inline-block;
    padding-left: 20px;
  }

  .left-border {
    border-left: solid 10px; color: blue;

  }

  .banner {
    width: 100%;
    height: 140px;
    opacity: 0.4;
  }

  .banner:hover {
    opacity: 0.8;
  }

  .banner-text {
    position: absolute;
    top: 20px;
    /* color: white; */
    padding: 20px;
    background-color: beige;
  }

  /* Set box position and style of container 1 */
  .section {
    /* position: relative;
    top: 100px;
    height: 100px; */
    /* width: 100%; */
    /* float: right; */
    /* background-color: blanchedalmond; */
    /* padding: 40px 30px; */
    display: flex;
    margin: 20px 0;
    padding: 20px;
  }

  .section h2 {
    margin-right: 40px;
    padding: 20px;
    border-right: 2px solid black;
}
 

  .container1_text {
    position: relative;
    margin-left: 0px;
    margin-top: 0px;
  }

  /* Add text to container 1 */
  .container1_label {
    width: 100px;
    height: 50px;
    padding: 40px 30px;

  }

    /* Set box position and style of container 2 */
    .container2 {
        position: relative;
        top: 100px;
        height: 100px;
        width: 100%;
        float: right;
        background-color: blanchedalmond;
        padding: 40px 30px;
    
      }
    
      .container2_text {
        position: relative;
        margin-left: 0px;
        margin-top: 0px;
      }
    
      /* Add text to container 2 */
      .container2_label {
        width: 100px;
        height: 50px;
        padding: 40px 30px;
      }
    
   /* Set box position and style of container 3 */
        .container3 {
        position: relative;
        top: 100px;
        height: 100px;
        width: 100%;
        float: right;
        background-color: blanchedalmond;
        padding: 40px 30px;
    
      }
    
      .container3_text {
        position: relative;
        margin-left: 0px;
        margin-top: 0px;
      }
    
      /* Add text to container 3 */
      .container3_label {
        width: 100px;
        height: 50px;
        padding: 40px 30px;
      }